.home-container-1 {
    min-height: 100vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
  }
  
  .home-container-2 {
    width: 75%;
    padding: 24px;
    box-sizing: border-box;
    margin-right:7%;
  }

  @media screen and (max-width: 800px) {
    .home-container-2{
      width: 100%;
    }    
  } 
  .ty{
    text-decoration: none; 
    background-color: #ef8236;
    border: none;
    border-radius: 10px;
    bottom: 5%;
    cursor: pointer;
    font-size: 1rem;
    left: 85%;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    
    
    
  }
 .ppp{
  text-decoration: none;
  color: black;
  font-weight: 600;
 }